<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
  
  <targets>

    <!--Запись в файл-->
    <target xsi:type="File" name="allfile" 
            fileName="${logDirectory}/nlog-all-${shortdate}.log" deleteOldFileOnStartup="true" concorrentWrites="true" />

    <!--Запись в PostgreSQL-->
    <target xsi:type="Database" name="postgresql"
            dbProvider="Npgsql.NpgsqlConnection, Npgsql">
      <connectionString>
        Server=PastebinPostgresDB;Port=5432;Database=Pastebin;Username=postgres;Password=postgres;
      </connectionString>
      <commandText>
        insert into logs(log_date,log_level,log_logger,log_message,stacktrace) values(@time_stamp,@level,@logger,@message,@stacktrace)
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
    
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <logger name="*" minlevel="Trace" writeTo="postgresql" />
  </rules>
</nlog>